SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioSesionTutoria/SesionTutoriaServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SesionDeTutoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaDeSesion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPeriodo" type="xs:int" />
      <xs:element minOccurs="0" name="IdSesionDeTutoria" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroDeSesion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SesionDeTutoriaDTO" nillable="true" type="tns:SesionDeTutoriaDTO" />
  <xs:complexType name="ArrayOfSesionDeTutoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SesionDeTutoriaDTO" nillable="true" type="tns:SesionDeTutoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSesionDeTutoriaDTO" nillable="true" type="tns:ArrayOfSesionDeTutoriaDTO" />
</xs:schema>