SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioSesionTutoria/SesionTutoriaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SesionTutoriaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISesionTutoriaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.158.61:8080/SesionTutoriaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/SesionTutoriaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/SesionTutoriaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISesionTutoriaServicio_RegistrarSesionDeTutoria_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSesionDeTutoria" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_ObtenerSesionesPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSesionesPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_NotificarSesionRegistrada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSesionRegistrada" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_NotificarSesionRegistrada_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSesionRegistradaResponse" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_NotificarError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarError" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_NotificarSesionesPorPeriodo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSesionesPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="ISesionTutoriaServicio_NotificarSesionesPorPeriodo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarSesionesPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISesionTutoriaServicio">
    <wsdl:operation name="RegistrarSesionDeTutoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/RegistrarSesionDeTutoria" message="tns:ISesionTutoriaServicio_RegistrarSesionDeTutoria_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSesionesPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/ObtenerSesionesPorPeriodo" message="tns:ISesionTutoriaServicio_ObtenerSesionesPorPeriodo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSesionRegistrada">
      <wsdl:output wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionRegistrada" message="tns:ISesionTutoriaServicio_NotificarSesionRegistrada_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionRegistradaResponse" message="tns:ISesionTutoriaServicio_NotificarSesionRegistrada_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <wsdl:output wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/NotificarError" message="tns:ISesionTutoriaServicio_NotificarError_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarSesionesPorPeriodo">
      <wsdl:output wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionesPorPeriodo" message="tns:ISesionTutoriaServicio_NotificarSesionesPorPeriodo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionesPorPeriodoResponse" message="tns:ISesionTutoriaServicio_NotificarSesionesPorPeriodo_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISesionTutoriaServicio" type="tns:ISesionTutoriaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_ISesionTutoriaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarSesionDeTutoria">
      <soap12:operation soapAction="http://tempuri.org/ISesionTutoriaServicio/RegistrarSesionDeTutoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSesionesPorPeriodo">
      <soap12:operation soapAction="http://tempuri.org/ISesionTutoriaServicio/ObtenerSesionesPorPeriodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarSesionRegistrada">
      <soap12:operation soapAction="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionRegistrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <soap12:operation soapAction="http://tempuri.org/ISesionTutoriaServicio/NotificarError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarSesionesPorPeriodo">
      <soap12:operation soapAction="http://tempuri.org/ISesionTutoriaServicio/NotificarSesionesPorPeriodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SesionTutoriaServicio">
    <wsdl:port name="NetTcpBinding_ISesionTutoriaServicio" binding="tns:NetTcpBinding_ISesionTutoriaServicio">
      <soap12:address location="net.tcp://192.168.158.61:8090/SesionTutoriaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.158.61:8090/SesionTutoriaServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>