SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioCancelar/CancelarServicio31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.3:8080/CancelarServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="CancelarReservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReservacion" type="xs:int" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarTodasReservaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esTutor" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarReservacionCancelada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReservacion" type="xs:int" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTodasReservacionesCanceladas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarReservaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="reservaciones" nillable="true" type="q1:ArrayOfReservacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>