SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioReservacion/ReservacionServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReservacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReservacionServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.3.3:8080/ReservacionServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.3.3:8080/ReservacionServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.3.3:8080/ReservacionServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservacionServicio_RegistrarReservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarReservacion" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_ObtenerTurnosOcupados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTurnosOcupados" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarReservacionRegistrada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarReservacionRegistrada" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarReservacionRegistrada_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarReservacionRegistradaResponse" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarTurnosDisponibles_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarTurnosDisponibles" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarTurnosDisponibles_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarTurnosDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarError" />
  </wsdl:message>
  <wsdl:message name="IReservacionServicio_NotificarError_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservacionServicio">
    <wsdl:operation name="RegistrarReservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservacionServicio/RegistrarReservacion" message="tns:IReservacionServicio_RegistrarReservacion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTurnosOcupados">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservacionServicio/ObtenerTurnosOcupados" message="tns:IReservacionServicio_ObtenerTurnosOcupados_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarReservacionRegistrada">
      <wsdl:output wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarReservacionRegistrada" message="tns:IReservacionServicio_NotificarReservacionRegistrada_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarReservacionRegistradaResponse" message="tns:IReservacionServicio_NotificarReservacionRegistrada_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarTurnosDisponibles">
      <wsdl:output wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarTurnosDisponibles" message="tns:IReservacionServicio_NotificarTurnosDisponibles_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarTurnosDisponiblesResponse" message="tns:IReservacionServicio_NotificarTurnosDisponibles_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <wsdl:output wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarError" message="tns:IReservacionServicio_NotificarError_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IReservacionServicio/NotificarErrorResponse" message="tns:IReservacionServicio_NotificarError_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IReservacionServicio" type="tns:IReservacionServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IReservacionServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarReservacion">
      <soap12:operation soapAction="http://tempuri.org/IReservacionServicio/RegistrarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTurnosOcupados">
      <soap12:operation soapAction="http://tempuri.org/IReservacionServicio/ObtenerTurnosOcupados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarReservacionRegistrada">
      <soap12:operation soapAction="http://tempuri.org/IReservacionServicio/NotificarReservacionRegistrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarTurnosDisponibles">
      <soap12:operation soapAction="http://tempuri.org/IReservacionServicio/NotificarTurnosDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <soap12:operation soapAction="http://tempuri.org/IReservacionServicio/NotificarError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservacionServicio">
    <wsdl:port name="NetTcpBinding_IReservacionServicio" binding="tns:NetTcpBinding_IReservacionServicio">
      <soap12:address location="net.tcp://192.168.3.3:8090/ReservacionServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.3.3:8090/ReservacionServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>