SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioConsulta/ConsultaServicio32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.3:8080/ConsultaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="ObtenerReservacionesEnCola">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tutorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservacionesEnColaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTutoriaAcademica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="tutoria" nillable="true" type="q1:TutoriaAcademicaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTutoriaAcademicaActualizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="tutoria" nillable="true" type="q2:TutoriaAcademicaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarReservacionesEnCola">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="reservaciones" nillable="true" type="q3:ArrayOfReservacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>