SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioConsulta/ConsultaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConsultaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConsultaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/ConsultaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/ConsultaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/ConsultaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultaServicio_ObtenerReservacionesEnCola_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservacionesEnCola" />
  </wsdl:message>
  <wsdl:message name="IConsultaServicio_ObtenerReservacionesEnCola_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservacionesEnColaResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaServicio_ActualizarTutoriaAcademica_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTutoriaAcademica" />
  </wsdl:message>
  <wsdl:message name="IConsultaServicio_NotificarTutoriaAcademicaActualizada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarTutoriaAcademicaActualizada" />
  </wsdl:message>
  <wsdl:message name="IConsultaServicio_NotificarReservacionesEnCola_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarReservacionesEnCola" />
  </wsdl:message>
  <wsdl:message name="IConsultaServicio_NotificarError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarError" />
  </wsdl:message>
  <wsdl:portType name="IConsultaServicio">
    <wsdl:operation name="ObtenerReservacionesEnCola">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaServicio/ObtenerReservacionesEnCola" message="tns:IConsultaServicio_ObtenerReservacionesEnCola_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaServicio/ObtenerReservacionesEnColaResponse" message="tns:IConsultaServicio_ObtenerReservacionesEnCola_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTutoriaAcademica">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaServicio/ActualizarTutoriaAcademica" message="tns:IConsultaServicio_ActualizarTutoriaAcademica_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarTutoriaAcademicaActualizada">
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaServicio/NotificarTutoriaAcademicaActualizada" message="tns:IConsultaServicio_NotificarTutoriaAcademicaActualizada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarReservacionesEnCola">
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaServicio/NotificarReservacionesEnCola" message="tns:IConsultaServicio_NotificarReservacionesEnCola_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaServicio/NotificarError" message="tns:IConsultaServicio_NotificarError_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IConsultaServicio" type="tns:IConsultaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IConsultaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerReservacionesEnCola">
      <soap12:operation soapAction="http://tempuri.org/IConsultaServicio/ObtenerReservacionesEnCola" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTutoriaAcademica">
      <soap12:operation soapAction="http://tempuri.org/IConsultaServicio/ActualizarTutoriaAcademica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarTutoriaAcademicaActualizada">
      <soap12:operation soapAction="http://tempuri.org/IConsultaServicio/NotificarTutoriaAcademicaActualizada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarReservacionesEnCola">
      <soap12:operation soapAction="http://tempuri.org/IConsultaServicio/NotificarReservacionesEnCola" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <soap12:operation soapAction="http://tempuri.org/IConsultaServicio/NotificarError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaServicio">
    <wsdl:port name="NetTcpBinding_IConsultaServicio" binding="tns:NetTcpBinding_IConsultaServicio">
      <soap12:address location="net.tcp://localhost:8095/ConsultaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/ConsultaServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>