SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioCalificacion/CalificacionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CalificacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalificacionServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.158.61:8080/CalificacionServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/CalificacionServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/CalificacionServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalificacionServicio_CalificarTutoria_InputMessage">
    <wsdl:part name="parameters" element="tns:CalificarTutoria" />
  </wsdl:message>
  <wsdl:message name="ICalificacionServicio_ObtenerCalificaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCalificaciones" />
  </wsdl:message>
  <wsdl:message name="ICalificacionServicio_NotificarCalificacionRegistrada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarCalificacionRegistrada" />
  </wsdl:message>
  <wsdl:message name="ICalificacionServicio_NotificarCalificaciones_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarCalificaciones" />
  </wsdl:message>
  <wsdl:message name="ICalificacionServicio_NotificarError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarError" />
  </wsdl:message>
  <wsdl:portType name="ICalificacionServicio">
    <wsdl:operation name="CalificarTutoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalificacionServicio/CalificarTutoria" message="tns:ICalificacionServicio_CalificarTutoria_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCalificaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalificacionServicio/ObtenerCalificaciones" message="tns:ICalificacionServicio_ObtenerCalificaciones_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarCalificacionRegistrada">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalificacionServicio/NotificarCalificacionRegistrada" message="tns:ICalificacionServicio_NotificarCalificacionRegistrada_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarCalificaciones">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalificacionServicio/NotificarCalificaciones" message="tns:ICalificacionServicio_NotificarCalificaciones_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalificacionServicio/NotificarError" message="tns:ICalificacionServicio_NotificarError_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalificacionServicio" type="tns:ICalificacionServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalificacionServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CalificarTutoria">
      <soap12:operation soapAction="http://tempuri.org/ICalificacionServicio/CalificarTutoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCalificaciones">
      <soap12:operation soapAction="http://tempuri.org/ICalificacionServicio/ObtenerCalificaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarCalificacionRegistrada">
      <soap12:operation soapAction="http://tempuri.org/ICalificacionServicio/NotificarCalificacionRegistrada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarCalificaciones">
      <soap12:operation soapAction="http://tempuri.org/ICalificacionServicio/NotificarCalificaciones" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <soap12:operation soapAction="http://tempuri.org/ICalificacionServicio/NotificarError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalificacionServicio">
    <wsdl:port name="NetTcpBinding_ICalificacionServicio" binding="tns:NetTcpBinding_ICalificacionServicio">
      <soap12:address location="net.tcp://192.168.158.61:8090/CalificacionServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.158.61:8090/CalificacionServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>