SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioReporte/ReporteServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReporteServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReporteServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.158.61:8080/ReporteServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/ReporteServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/ReporteServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/ReporteServicio?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteServicio_ObtenerReportesDeTutorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReportesDeTutorias" />
  </wsdl:message>
  <wsdl:message name="IReporteServicio_RecibirReportesDeTutorias_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirReportesDeTutorias" />
  </wsdl:message>
  <wsdl:message name="IReporteServicio_NotificarError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarError" />
  </wsdl:message>
  <wsdl:portType name="IReporteServicio">
    <wsdl:operation name="ObtenerReportesDeTutorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteServicio/ObtenerReportesDeTutorias" message="tns:IReporteServicio_ObtenerReportesDeTutorias_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirReportesDeTutorias">
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteServicio/RecibirReportesDeTutorias" message="tns:IReporteServicio_RecibirReportesDeTutorias_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteServicio/NotificarError" message="tns:IReporteServicio_NotificarError_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IReporteServicio" type="tns:IReporteServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IReporteServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerReportesDeTutorias">
      <soap12:operation soapAction="http://tempuri.org/IReporteServicio/ObtenerReportesDeTutorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirReportesDeTutorias">
      <soap12:operation soapAction="http://tempuri.org/IReporteServicio/RecibirReportesDeTutorias" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarError">
      <soap12:operation soapAction="http://tempuri.org/IReporteServicio/NotificarError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporteServicio">
    <wsdl:port name="NetTcpBinding_IReporteServicio" binding="tns:NetTcpBinding_IReporteServicio">
      <soap12:address location="net.tcp://192.168.158.61:8090/ReporteServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.158.61:8090/ReporteServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>