SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioReporte/ReporteServicio43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.3:8080/ReporteServicio?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfReporteTutoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteTutoriaDTO" nillable="true" type="tns:ReporteTutoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteTutoriaDTO" nillable="true" type="tns:ArrayOfReporteTutoriaDTO" />
  <xs:complexType name="ReporteTutoriaDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AsuntosTratados" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FechaTutoria" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdSesionDeTutoria" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroAsuntosNoAtendidos" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroTutoradosAtendidos" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoPromedioTutorias" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteTutoriaDTO" nillable="true" type="tns:ReporteTutoriaDTO" />
</xs:schema>