SistemaDeGestiónDeHorariosDeTutoríasAcadémicas_Cliente/Connected Services/ServicioRegistro/ServicioRegistro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioRegistro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioRegistro_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.158.61:8080/RegistroServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/RegistroServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.158.61:8080/RegistroServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRegistro_EnviarCodigoDeValidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoDeValidacion" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistro_ValidarCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigo" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistro_UsuarioExistente_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioExistente" />
  </wsdl:message>
  <wsdl:message name="IServicioRegistro_RecibirRespuesta_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirRespuesta" />
  </wsdl:message>
  <wsdl:portType name="IServicioRegistro">
    <wsdl:operation name="EnviarCodigoDeValidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistro/EnviarCodigoDeValidacion" message="tns:IServicioRegistro_EnviarCodigoDeValidacion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistro/ValidarCodigo" message="tns:IServicioRegistro_ValidarCodigo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioExistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRegistro/UsuarioExistente" message="tns:IServicioRegistro_UsuarioExistente_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirRespuesta">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRegistro/RecibirRespuesta" message="tns:IServicioRegistro_RecibirRespuesta_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioRegistro" type="tns:IServicioRegistro">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioRegistro_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnviarCodigoDeValidacion">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistro/EnviarCodigoDeValidacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistro/ValidarCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UsuarioExistente">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistro/UsuarioExistente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirRespuesta">
      <soap12:operation soapAction="http://tempuri.org/IServicioRegistro/RecibirRespuesta" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRegistro">
    <wsdl:port name="NetTcpBinding_IServicioRegistro" binding="tns:NetTcpBinding_IServicioRegistro">
      <soap12:address location="net.tcp://192.168.158.61:8090/RegistroServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.158.61:8090/RegistroServicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>